@page
@model RagnarockTourGuide.Pages.MasterAdminPages.EditUserModel
@{
}
<h2>Edit User</h2>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="UserToEdit.Id" />
    <div>
        <label>Name</label>
        <input asp-for="UserToEdit.Name" class="form-control" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="UserToEdit.Email" class="form-control" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="UserToEdit.Password" type="password" class="form-control" />
    </div>
    <div>
        <label>Role</label>
        <select asp-for="UserToEdit.Role" class="form-control">
            <option value="1">MasterAdmin</option>
            <option value="2">Admin</option>
            <option value="3">Member</option>
        </select>
    </div>
    <div>
        <label>Image</label>
        <input asp-for="UserToEdit.ImageFile" type="file" class="form-control" />
        <img src="/userImages/@Model.UserToEdit.ImageFileName" width="100" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>